:root {
    --blue: #e83e8c;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #e74a3b;
    --orange: #fd7e14;
    --yellow: #f6c23e;
    --green: #1cc88a;
    --teal: #20c9a6;
    --cyan: #36b9cc;
    --white: #fff;
    --gray: #858796;
    --gray-dark: #5a5c69;
    --primary: #D9534F;
    --secondary: #5BC0DE;
    --success: #5CB85C;
    --info: #F9F9F9;
    --warning: #f6c23e;
    --danger: #D9534F;
}
